<div class="container mt-5">
  <h1>Paramètres du profil</h1>

  <%= simple_form_for(current_user, url: profile_path, html: { method: :put, multipart: true }) do |f| %>
    <div class="mb-3">
      <%= f.input :email, label: "Email", input_html: { class: "form-control" } %>
    </div>

    <div class="mb-3">
      <%= f.input :avatar, as: :file, label: "Avatar" %>
    </div>

    <div class="d-flex justify-content-end">
      <%= f.button :submit, "Mettre à jour", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

