<div class="container mt-5">
  <h1>Mes musiques</h1>

  <% @musics.each do |music| %>
    <div class="card mb-3 p-3 shadow-sm">
      <h5><%= music.title %></h5>
      <p>Durée : <%= music.duration_minutes %> min</p>
      <p>Catégorie : <%= music.category %></p>
      <%= link_to "Écouter", music.video_url, target: "_blank", class: "btn btn-primary btn-sm" %>
    </div>
  <% end %>
</div>

